.heading {
    font-size: 23px;
    width: 70%;
    margin: 5px;
}

.note {
    font-size: 12px;
    color: black;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    float: right;
}
